aiogram>=3.21.0
colorama>=0.4.6
flask>=3.1.2
phonenumbers>=9.0.10
psutil>=7.0.0
pytz>=2025.2
requests>=2.32.5
urllib3>=2.5.0
gunicorn
flask>=3.1.2
requests>=2.32.3
urllib3>=2.2.3
beautifulsoup4>=4.12.3
phonenumbers>=9.0.10
psutil>=7.0.0
pytz>=2025.2
aiogram>=3.21.0
colorama>=0.4.6
lequangminh
fake-useragent
